* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

header {
  background-color: black;
}
header h1 {
  font-size: 4.5rem;
  color: #118aec;
  text-align: center;
}
header h2 {
  padding: 5px;
  color: #118aec;
  text-align: center;
  justify-content: center;
}
header h3 {
  padding: 5px;
  color: #118aec;
  text-align: center;
  justify-content: center;
}
header nav {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  background-color: #5ebddd;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
header nav .menu {
  font-size: 1.25rem;
  list-style: none;
  display: flex;
  padding: 10px;
  align-items: right;
}
header nav .menu a {
  color: black;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
header nav .menu a:hover {
  background-color: black;
  color: lightblue;
  border-radius: 20px;
}
header nav img {
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
}
header nav img:hover {
  border-radius: 20px;
}

.titulo h1 {
  font-size: 4.5rem;
  color: #118aec;
  text-align: center;
}
.titulo p {
  text-align: left;
  color: white;
}

.grid-container {
  background-color: lightblue;
  width: 100%;
  height: 45vh;
  font-size: 1rem;
  text-align: center;
  margin: 20px auto;
  display: grid;
  gap: 5px;
  border-color: rgb(0, 0, 0);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}
.grid-container .img__grid {
  width: 100%;
  height: 45vh;
  padding: 0%;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.grid-container .img__grid:hover {
  border-radius: 20px;
}
.grid-container .mapa {
  width: fit-content;
  height: 45vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.veni div h1 {
  font-size: 2.5rem;
  color: #118aec;
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  animation-name: texto;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-delay: 0s;
  margin: 20px auto;
}
@keyframes texto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.veni div h3 {
  color: wheat;
  text-align: center;
}

footer {
  background-color: black;
}
footer nav {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  background-color: #5ebddd;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
footer nav .menu2 {
  font-size: 1.25rem;
  list-style: none;
  display: flex;
  padding: 10px;
  align-items: right;
}
footer nav .menu2 a {
  color: black;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
footer nav .menu2 a:hover {
  background-color: black;
  color: lightblue;
  border-radius: 20px;
}
footer nav img {
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  align-items: center;
}
footer nav img:hover {
  border-radius: 20px;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  align-content: center;
}
form label {
  font-size: 1.5rem;
}
form textarea {
  border: #118aec solid 5px;
}
form input {
  border: #118aec solid 2px;
}
form select {
  border: #118aec solid 2px;
}

/*# sourceMappingURL=estilo.css.map */
